<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous" />
  <link rel="stylesheet" href="/static/css/style.css" />

  <title>Femprish.ORG | Equality For Women</title>
</head>

<body>
  <header id="head-menu">
    <div class="logo" id="navbar-logo">
      <img src="/static/images/logo-full_pink-removebg-preview.png" alt="Femprish.org" id="header-logo-image" />
      <div id="nav-hr"></div>
      <h3 class="site-name">Femprish.org</h3>
    </div>

    <nav class="navbar">
      <ul>
        <a href="#" class="active">Home</a><a href="#">Learn More</a><a href="#">About Us</a><a href="#">Join Us</a><a
          href="#">FAQ</a>
      </ul>
    </nav>
  </header>
  <section class="section" id="home-sec">
    <div class="text" id="home-section-text">
      <h1 id="main-heading">Feminism</h1>
      <p id="subheading">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Et error iste
        placeat. Ab omnis optio sed delectus tempore aperiam numquam inventore
        culpa consequuntur officiis voluptate aspernatur, quis quas repellat?
        Doloremque aperiam quia dolorum. Commodi nihil debitis, corrupti illum
        iste consequatur veniam sapiente quo eligendi ullam rerum laudantium
        tempore? Lorem ipsum dolor sit, amet consectetur adipisicing elit.
        Odit nostrum inventore optio voluptatem quam doloremque non quaerat,
        earum similique nemo dolorem iusto sed assumenda ad. Doloremque quia
        cumque porro temporibus.
      </p>
      <div id="button-home">
        <a href="/join"><button id="learn-more-button">Support Us</button></a>
      </div>
    </div>

    <div>
      <div class="image-animated slider" id="img">
        <img src="/static/images/feminism1.jpg" alt="Femprish.org" id="home-sec-image">
        <!-- <div id="home-sec-image"></div> -->
      </div>
    </div>
  </section>

  <section class="section" id="sec-2">
    <div class="heading">
      <b>Our Vision</b>
    </div>
    <div id="sec-2-content">
      <div id="heading-sec-2">
        <b>IT'S NOT WHAT YOU THINK </b>
      </div>
      <div id="text-sec-2">
        feminism is not what you think, it's something different Lorem ipsum dolor sit amet consectetur adipisicing
        elit. Exercitationem culpa voluptatem dolorum, quo consequatur reprehenderit at ipsum laboriosam voluptate
        consectetur eveniet libero? Atque, quam pariatur. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut
        perspiciatis dignissimos id? Rem repellendus cumque labore culpa aut animi nesciunt temporibus, sint
        consequuntur incidunt voluptates? Lorem, ipsum dolor sit amet consectetur adipisicing elit. Amet, necessitatibus.
         Commodi error ut iusto ad atque voluptate eaque repudiandae autem.
      </div>
    </div>
  </section>

  <footer class="">
    <p>&copy Copyright by femprish.org</p>
  </footer>

  <script src="/static/js/script.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
</body>

</html>